<p id="notice"><%= notice %></p>

<h1>Bookings</h1>

<table class="styled-table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Animal name</th>
      <th>Animal type</th>
      <th>Requested hours</th>
      <th>Email</th>
      <th>Service date</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.first_name %></td>
        <td><%= booking.last_name %></td>
        <td><%= booking.animal_name %></td>
        <td><%= booking.animal_type %></td>
        <td><%= booking.requested_hours %></td>
        <td><%= booking.email %></td>
        <td><%= booking.service_date.strftime('%m-%d-%Y') %></td>
        <td><%= price_engine(booking.animal_type, booking.requested_hours) %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Delete', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  
    
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_booking_path %>
