<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @booking.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @booking.last_name %>
</p>

<p>
  <strong>Animal name:</strong>
  <%= @booking.animal_name %>
</p>

<p>
  <strong>Animal type:</strong>
  <%= @booking.animal_type %>
</p>

<p>
  <strong>Requested hours:</strong>
  <%= @booking.requested_hours %>
</p>

<p>
  <strong>Service date:</strong>
  <%= @booking.service_date %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @booking.phone %>
</p>

<p>
  <strong>Price:</strong>
  <%= price_engine(@booking.animal_type, @booking.requested_hours)%>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
